python-dotenv
numpy

#Audio
pyaudio
wave
SpeechRecognition # Iterface interaction

#Interface
tkintertable
Pillow

# APIs
groq
google-cloud-speech
google-cloud-texttospeech
google-auth

# For older versions
#pyttsx3
